@charset "utf-8";

/* common layout */
.desktop{max-width: 700px; margin: 0 auto;background: #393636ff;padding: 20px;height: 100vh;}
/* .desktop .secbox {padding: 70px 40px 50px;} */
.desktop .secbox {margin: 40px 20px;}

/* common font style */
.font_dohyeon {font-family: 'Dohyeon';}
.font_nanum {font-family: 'Nanum';}

/* button style */
.btn_next {display: block;background: #eee;color: #000;border-bottom: none;text-align: center;width: 100%;margin: 10px 0;border-radius: 6px;padding: 22.5px;}
.btn_next:hover {background: #fe9727;transition: all .2s;}


/* section 01 */
.choose_gender ul li button {border-radius: 30px;}

/* section 02 -Requirement */
.terms_box {background: #eee;padding: 25px 30px;border-radius: 25px;line-height: 1.6rem;}

/* section 03 -profile */
.profile tr {display: flex;flex-direction: column;}
.profile tr td input {border-radius: 10px;padding: 10px;font-family: 'Nanum';}
.profile tr th {margin: 10px 0;color: #fff;}


 #ck_btn {
     margin:10px;
     background-color:#EFEFEF;
     border-radius:4px;
     border:1px solid #D0D0D0;
     overflow:auto;
     float:left;
 }
 
 #ck_btn:hover {
     /* margin:4px; */
     background-color:#EFEFEF;
     border-radius:4px;
     border:1px solid #fe9727;
     overflow:auto;
     float:left;
 }
 
 #ck_btn label {
    float: left;
    width: 125px;
    height: 45px;
    text-align: center;
    align-items: center;
    line-height: 39px;
    }
 
 #ck_btn label span {
     text-align:center;
     padding:3px 0px;
     display:block;
 }
 
 #ck_btn label input {
     position:absolute;
     top:-20px;
 }
 
 #ck_btn input:checked + span {
     background-color:#fe9727;
     /* color:#fff; */
 }