@charset "utf-8";

/* common layout */
.desktop{max-width: 700px; margin: 0 auto;background: #393636ff;padding: 20px;height: 100vh;}
/* .desktop .secbox {padding: 70px 40px 50px;} */
.desktop .secbox {margin: 40px 20px;}

/* common font style */
.font_dohyeon {font-family: 'Dohyeon';}
.font_nanum {font-family: 'Nanum';}

/* button style */
.btn_next {display: block;background: #eee;color: #000;border-bottom: none;text-align: center;width: 100%;margin: 10px 0;border-radius: 6px;padding: 22.5px;}


/* section 01 */
.choose_gender ul li button {border-radius: 30px;}

/* section 02 -Requirement */
.terms_box {background: #eee;padding: 25px 30px;border-radius: 6px;line-height: 1.6rem;}